.status-col {
  width: 132px;
  min-width: 132px;
  text-align: center;
}

.actions-col-header,
.actions-col-cell {
  width: 140px;
  min-width: 140px;
  text-align: right;
}

.actions-col {
  min-width: 140px;
}
